* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png");
	background-size: auto 100vh;
	font-family: Arial;
	font-size: 14px;
}

@media (min-width: 400px) {
    body {
    	font-size: 18px
    }
}

@media (min-width: 500px) {
    body {
    	font-size: 20px
    }
}

header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: white;
	text-decoration: none;
}

figcaption {
	font-family: 'Kalam', cursive;
	color: whitesmoke;
	font-size: 25px;
}

.menu {
	background-color: whitesmoke;
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 1;
}

.menu li {
	list-style: none;
	padding: 10px;
	font-family: 'Righteous', cursive;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

.menu a {
	background-color: whitesmoke;
	color: black;
	padding: 10px 50px;
	transition: background-color 0.75s, color 0.75s;
}

.menu a:hover {
	background-color: #505057;
	color: white;
}

.site-subtitle,
.site-title {
    color: yellow;
	text-align: center;
}

.site-title {
    font-size: 5em;
    font-family: 'Patrick Hand', cursive;
}

.titulo {
	transform: scale(.2) translateY(0vh);
	opacity: 0;
	animation: linear 11s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  100% {
  	transform: scale(1) translateY(0);
	opacity: 1;
  }
}

.site-subtitle {
    font-family: 'Righteous', cursive;
    line-height: 1.5em;
}

.img-portfolio {
	height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
	}

.img-portfolio:hover {
    transform: scale(1.2) rotate(5deg);
}

.img-portfolio2 {
	height: 180px;
	width: 150px;
	transition: transform 500ms;
}

.img-portfolio2:hover {
    transform: scale(1.2) rotate(5deg);
}

.sobre,
.contato,
.portfolio {
	font-size: 35px;
	color: whitesmoke;
	font-family: 'Righteous', cursive;
	padding: 2em;
	margin-bottom: 1.5em;
}

.sobre p {
	color: whitesmoke;
	font-family: 'Oswald', sans-serif;
	text-indent: 1em;
	margin-bottom: 1em;
	text-align: justify;
	font-size: 27px;
}

.sobre .avatar img{
	width: 330px;
	height: auto;
	padding: 12px;
}

.portfolio .grid {
	display: grid;
	grid-gap: 2em;
	padding: 1.5em;
}

@media (min-width: 700px) {
	.portfolio .grid { 
	grid-template-columns: 300px 300px 300px;
}
}

.portfolio figure {
	text-align: center;
}

.contato a {
	color: #06EEE3;
	font-family: Arial;
	font-size: 4em;
	padding: 35px;
	transition: text-shadow 500ms
}

.contato a:active,
.contato a:hover {
	text-decoration: none;
	text-shadow: 5px 5px 4px navy;
}

.contato .icons {
	text-align: center;
}

.icss {
	color: red;
}

.icss:hover {
	color: cyan;
}

.icss:active {
	text-decoration: underline;
}